.box-container, .header-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box-container {
    height: 100vh;
}

.main-box {
    height: 600px;
    display: flex;
    padding: 0px;
}

.container-fluid {
    background-color: #18191A;
    color: #CED0D4;
}