<div class="container p-2 h-100">
    <div class="row m-0">
        <div *ngIf="(messageService.messageThread$ | async)?.length === 0">
            No message.
        </div>

        <div *ngIf="(messageService.messageThread$ | async)?.length > 0">
            <li *ngFor="let message of (messageService.messageThread$ | async)">
                <div *ngIf="message.recipientUsername == user.username" class="col-8 receive-message p-0 mt-1">
                    <div class="avatar p-1">
                        <img src="{{photoUrl}}" class="rounded-circle" width="20rem"
                            height="20rem" style="object-fit: cover; object-position: center;">
                    </div>

                    <div class="rounded-end-3 ms-2">
                        <span class="message message-received p-1 rounded-3">
                            {{message.content}}
                        </span>
                    </div>
                </div>

                <div *ngIf="message.recipientUsername != user.username" class="col-md-12 send-message p-0 mt-1">
                    <div class="col-8">
                        <span class="message message-sent p-1 ps-2 pe-2 rounded-3">
                            {{message.content}}
                        </span>
                    </div>
                </div>
            </li>
        </div>
    </div>
</div>
