
.typing-zone {
    display: flex;
    align-items: center;
}

form {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    text-align: right;
}

.btn-send:hover {
    cursor: pointer;
    background-color: beige;
}