<div class="container h-100">
    <div class="row h-100">
        <form (ngSubmit)="onSubmit(f)" #f="ngForm">
            <div class= "col-11 typing-zone h-100 pe-2">
                <input type="text" class="rounded-3 border border-dark-subtle w-100 p-1 pe-2 ps-2" name="content" ngModel>
            </div>
    
            <div class= "col-1 btn-send rounded-circle" (click)="onSubmit(f)">
                <fa-icon [icon]="sendIcon" size="lg"></fa-icon>
            </div>
        </form>
    </div>
</div>