<div class="container p-2 h-100">
    <div class="row m-0">
        <div class="col-md-12 receive-message p-0">
            <div class="avatar border-top border-start border-bottom border-warning rounded-start-3 p-1">
                <img src="../../assets/example_img/khi-mao_ktqa.jpeg" 
                    class="rounded-circle"
                    width="20rem" 
                    height="20rem" 
                    style="object-fit: cover; object-position: center;">
            </div>

            <div class="message border-top border-end border-bottom border-warning rounded-end-3 p-1">
                sdf
            </div>
        </div>

        <div class="col-md-12 receive-message p-0">
            <div class="avatar border-top border-start border-bottom border-warning rounded-start-3 p-1">
                <img src="../../assets/example_img/khi-mao_ktqa.jpeg" 
                    class="rounded-circle"
                    width="20rem" 
                    height="20rem" 
                    style="object-fit: cover; object-position: center;">
            </div>

            <div class="message border-top border-end border-bottom border-warning rounded-end-3 p-1">
                sdf
            </div>
        </div>

        <div class="col-md-12 send-message p-0">
            <div class="message border border-warning p-1 rounded-3">
                sdf
            </div>
        </div>

        <div class="col-md-12 send-message p-0">
            <div class="message border border-warning p-1 rounded-3">
                something else
            </div>
        </div>

        <div class="col-md-12 send-message p-0">
            <div class="message border border-warning p-1 rounded-3">
                More something else here More something else here More something else here More something else here
            </div>
        </div>

        <div class="col-md-12 send-message p-0">
            <div class="message border border-warning p-1 rounded-3">
                More something else here More something else here More something else here More something else here
            </div>
        </div>

        <div class="col-md-12 send-message p-0">
            <div class="message border border-warning p-1 rounded-3">
                More something else here More something else here More something else here More something else here
            </div>
        </div>

        <div class="col-md-12 send-message p-0">
            <div class="message border border-warning p-1 rounded-3">
                More something else here More something else here More something else here More something else here
            </div>
        </div>

        <div class="col-md-12 send-message p-0">
            <div class="message border border-warning p-1 rounded-3">
                More something else here More something else here More something else here More something else here
            </div>
        </div>

        <div class="col-md-12 send-message p-0">
            <div class="message border border-warning p-1 rounded-3">
                1123123
            </div>
        </div>
    </div>
</div>