.avatar-section,
.control-section,
.name-section {
    display: flex;
}

.avatar-section {
    justify-content: center;
    flex-direction: column;
}

.name-section {
    flex-direction: row;
    align-items: center;
}

.control-section {
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.rounded-circle {
    object-fit: cover;
    object-position: center;
}

.icon:hover {
    cursor: pointer;
}

.dot-online,
.dot-offline {
    height: 8px;
    width: 8px;
    border-radius: 50%;
    display: inline-block;
}

.dot-online {
    background-color: #31a24c;
}

.dot-offline {
    background-color: #bbb;
}