<div class="row m-0 h-100">
    <div class="col-8 p-2">
        <div class="row h-100 w-100 m-0">
            <div class="col-3 m-0 p-0 avatar-section">
                <img src="../../assets/example_img/khi-mao_ktqa.jpeg" class="rounded-circle" width="40rem" height="40rem">
            </div>

            <div class="col-9 p-0 name-section">
                Ines
            </div>
        </div>
    </div>

    <div class="col-4 pe-3 control-section">
        <div class="icon me-3">
            <fa-icon [icon]="minus" size="lg"></fa-icon>
        </div>

        <div class="icon">
            <fa-icon [icon]="xMark" size="lg"></fa-icon>
        </div>
    </div>
</div>