.avatar-section, .control-section, .name-section {
    display: flex;
}

.avatar-section, .name-section {
    justify-content: center;
    flex-direction: column;
}

.control-section {
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.rounded-circle {
    object-fit: cover;
    object-position: center;
}

.icon:hover {
    cursor: pointer;
    /* color: aqua; */
}