<div class="container-fluid">
  <div class="row m-0 box-container">
    <div class="col-lg-3 col-md-5 col-sm-6 col-9 main-box rounded shadow">
      <div class="row m-0 w-100">
        <div class="col-md-12 h-15 p-0 app-header">
          <app-header [member]="member"></app-header>
        </div>

        <div class="col-md-12 p-0 h-75 app-message-box">
          <app-messages-box [username]="member.username" [photoUrl]="member.photoUrl"></app-messages-box>
        </div>

        <div class="col-md-12 p-0 h-10 app-typing-box">
          <app-typing-box [username]="member.username"></app-typing-box>
        </div>
      </div>
    </div>
  </div>
</div>
