<div class="container-fluid">
    <div class="row m-0 login-container">
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-7 col-9 border login-box rounded shadow p-3">
            <form (ngSubmit)="onSubmit(f)" #f="ngForm">
                <div class="form-group mb-2">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" class="form-control" id="username" name="username" ngModel required #username="ngModel">
                    <span class="input-alert fw-lighter mt-1" *ngIf="!username.valid && username.touched">Please input username</span>
                </div>

                <div class="form-group mb-2">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" name="password" ngModel required #password="ngModel">
                    <span class="input-alert fw-lighter mt-1" *ngIf="!password.valid && password.touched">Please input password</span>
                </div>
                
                <button type="submit" class="btn btn-primary w-100 mt-2 mb-3">Login</button>

                <div class="forgot-password">
                    <a href="#" class="">Forgotten password?</a>
                </div>
            </form>

            <hr>

            <div class="btn-create-container">
                <button class="btn btn-success">Create new account</button>
            </div>
        </div>
    </div>
</div>