<div class="container-fluid">
    <div class="row m-0 login-container">
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-7 col-9 border login-box rounded shadow p-3">
            <form>
                <div class="form-group mb-2">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" class="form-control" id="username" name="username">
                </div>

                <div class="form-group mb-2">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" name="password">
                </div>
                
                <button type="submit" class="btn btn-primary w-100 mt-3 mb-3">Login</button>

                <div class="forgot-password">
                    <a href="#" class="">Forgotten password?</a>
                </div>
            </form>

            <hr>

            <div class="btn-create-container">
                <button class="btn btn-success">Create new account</button>
            </div>
        </div>
    </div>
</div>